<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configSource="env.config" />
    <system.webServer>
        <handlers>   
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Images" stopProcessing="true">
                    <match url="\.png|\.jpeg|\.jpg|\.webp" />
                    <action type="Rewrite"  url="www/index.js" />
                </rule>

                <rule name="AppContent" >
                    <action type="Rewrite" url="client{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" maxQueryString="5000" maxUrl="2083" />
            </requestFiltering>
        </security>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="268435456" requestLengthDiskThreshold="268435456" executionTimeout="600" />
    </system.web>
</configuration>